.page-four{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    height: max-content;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    background-color: black;    
}

.page-four-title{
    width: 100%;
    height: 50px;
    position: relative;
}

.page-four-title-name{
    position: absolute;
    width: 467px;
    height: 49px;
    left: calc(50% - 467px/2);
    top: calc(50% - 49px/2);

    font-family: 'Metrophobic';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 2.08em;

    color: #FFFFFF;

}

.page-four-title-name-blur{
    position: absolute;
    width: 467px;
    height: 49px;
    left: calc(50% - 467px/2);
    top: calc(50% - 49px/2);

    font-family: 'Metrophobic';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 2.08em;

    color: #F1F1F1;

    border: 8px solid #FFFFFF;
    filter: blur(31.5px);
}

.blogs{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;


    background: #425857;
}

.blog-card{
    position: relative;
    width: 324px;
    height: 345px;

    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F1F1;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    /* Inside auto layout */
}

.blog-card-title{
    width: 291px;
    height: 40px;

    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

.blog-card-description{
    width: 283px;
    height: 226px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;

    color: #000000;
}
a{
    text-decoration: none;
}

.blog-card-source{
    position: absolute;
    width: 85px;
    height: 16px;

    bottom: 20px;
    right: 50px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #000000;

    opacity: 0.4;
}


@media screen and (max-width: 1100px) and (min-width:600px) {
    .blogs{
        flex-wrap: wrap;
        height: max-content;
        box-sizing: border-box;
        gap: 10px;
        justify-content: center;
    }
    .page-four{
        height: max-content;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .page-four-title-name{
        width: 585px;
        height: 49px;
        left: calc(50% - 585px/2);
        top: calc(50% - 49px/2);
        
        font-size: 30px;

    }
    .page-four-title-name-blur{
        width: 585px;
        height: 49px;
        left: calc(50% - 585px/2);
        top: calc(50% - 49px/2);
        
        font-size: 30px;
    }
}

@media screen and (max-width:600px) {
    .page-four{
        height: max-content;
        padding-top: 20px;
        box-sizing: content-box;
    }
    .page-four-title-name{
        font-size: 18px;
        width: 285px;
        height: 49px;
        left: calc(50% - 285px/2);
        top: calc(50% - 49px/2);
        
    }
    .page-four-title-name-blur{
        width: 285px;
        height: 49px;
        left: calc(50% - 285px/2);
        top: calc(50% - 49px/2);
        
        font-size: 18px;
    }
    .blogs{
        flex-wrap: wrap;
        height: max-content;
        box-sizing: border-box;
        gap: 10px;
        justify-content: center;
    }
}